<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BGPPlanRegister.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4467F3E71D54C3E200003380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4467F4001D54C3E200003380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4467F40B1D54C3E200003380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
